.container {
    display:grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    background-color: rgb(255, 255, 255);
    height: 100vh;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main {
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 1rem;
    grid-row: 2 / -1;
    grid-column: 2 / -1;
    background-color: #e2e8f0;
}

.projectcards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: 1fr;
    gap: 20px;
    padding:0;
}

.card {
    display:grid;
    width:300px;
    justify-self: space-evenly;
    background-color: white;
    border-left: 5px solid gold;
    border-radius: 15px;
}

.links {
    display:flex;
    gap:20px;
    justify-content: end;
    padding-right: 30px;
    padding-bottom: 10px;
}
.links svg{
    width:25px;
    height: 30px;
}

.links svg:hover{
    width:28px;
}

.card:hover {
    background-color:rgb(211, 210, 210);
}

.anncards {
    background-color: white;

    display:grid;
    grid-template-rows:min-content;
    border-radius: 20px;
}

h1 {
    align-self: center;
    justify-self: center;
}

.card p {
    text-align: center;
}

.anuncio h1 {
    font-size: 20px;
}

.anuncio {
    text-align: center;
    height: 100px;
}

.projects h4,
.announcements h4,
.trending h4 {
    text-align: start;
    align-self: start;
    font-size: 13px;
}

.announcements {
    height:fit-content;
    margin:15px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.anuncio:nth-child(1),
.anuncio:nth-child(2){
    border-bottom:1px solid black;
}

.trending {
    display:flex;
    flex-direction: column;
    margin:15px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.trendingcards {
    display:grid;
    background-color: white;
    border-radius: 15px;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 25% 25% 25% 25%;
    padding-left:15px;
    line-height: 0;
}

.projects {
    margin:15px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.extras {
    display:grid;
    grid-template-rows:min-content;
}

.usuariot {
    grid-column: 2;
    display:flex;
    width:200px;
    flex-direction: column;
    line-height: 0;
}

.usuariot p:first-child {
font-size: 1.1rem;    
font-weight: 700;
}

.imagen {
    grid-column: 1/1;
    align-items: center;
    align-content: center;
}

.imagen img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 25px;
    background-color: aqua;
}

.usuariot:nth-child(2),.imagen:nth-child(1),
.usuariot:nth-child(4),.imagen:nth-child(3),
.usuariot:nth-child(6),.imagen:nth-child(5){
    border-bottom:1px solid black;
}

.dashboardone,.dashboardtwo {
    display:grid;
    grid-template-columns: 1fr;
    margin-bottom: 50px;
}

.sidebar {
    display:grid;
    grid-column: 1/2;
    grid-row:1/-1;
    grid-template-columns: 1fr;
    padding:2rem;
    padding-top: 0;
    background-color: rgb(80, 163, 247);
    color:white;
    grid-template-rows: min-content min-content min-content;
    row-gap: 50px;
}

.dashboardone span,.dashboardtwo span {
    padding-left: 14px;
    padding-top: 10px;
    vertical-align: top;
    display:inline-block;
    height: 40px;
}

.dashboardone a,.dashboardtwo a{
    height:40px;
    grid-template-rows: min-content;
    border:1px solid white;
    border-radius: 10px;
}

.dashimage svg{
    width: 40px;
    height: 40px;
    object-fit: cover;
    padding-left: 5px;
}

.dashimage {
display:grid;
fill:white;
align-items: center;
align-self: center;
align-content: center;
vertical-align: middle;
}

.princi svg{
    fill:white;
    object-fit: contain;
    width: 40px;
    height: 48px;
}
.dashboardone,.dashboardtwo {
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    align-self: center;
    row-gap: 10px;
}


.princi {
    align-content: center;
    justify-content: center;
}

.userimage img {
    width: 30px;
    height: 30px;
}

.buton svg {
    width: 30px;
}

.bell svg {
    width: 30px;
}

.firstrow {
    display:grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 4rem;
    height: min-content;
    grid-column: 1/-1;
    grid-row:1/1;
}


.nav {
    display:grid;
    grid-column: 2/-1;
    background-color: rgb(43, 226, 134);
    grid-template-rows: min-content;
    }

    .search {
        display:grid;
        background-color: white;
        grid-template-columns: 1fr 10fr;
        grid-template-rows:4rem;
        align-items: center;
        background-color: white;
        padding-left: 15px;
    }

    .search:first-child{
        justify-content: start;
    }
    
    .lupa {
        display:grid;
        justify-self: start;
        align-self: center;
    }
   
    input {
        appearance: none;
        width:90%;
        height: 1.5rem;
        grid-column: 2;
    }

    .notif  {
        display:grid;
        grid-template-columns:2fr 1fr 4fr;
        grid-template-rows:60px;
        align-items: center;
        background-color: white;
    }

    .bell {
        grid-column: 1;
        justify-self: end;
        padding-right: 15px;
    }
    .userimage {
        grid-column: 2;
        border-radius: 50px;
        width: 100%;
    }
    .username {
        grid-column:3;
        font-size: 1.2rem;
        text-align: center;
    }

    .buton {
        justify-self: end;
        padding-right: 10px;
        padding-top:5px;
    }

    .userimage img {
        border-radius: 25px;
        width:50px;
        height: 50px;
    }

    .action {
        display:grid;
        grid-template-rows: min-content;
        grid-template-columns: 7fr 3fr;
        background-color: white;
    }

    .hello img {
        border-radius: 300px;
        width:80px;
        height: 80px;
        object-fit:fill;
    }

    .hello {
        display:grid;
        grid-template-columns: 1fr 4fr;
        grid-template-rows: 100px;
        align-items: center;
        font-weight: bold;
        line-height: 0.5rem;
    }

    .hellou {
        align-items: center;
        justify-items: center;
        text-align: center;
        grid-template-rows: 1fr;
    }

    .botones button{
    background-color: rgb(80, 163, 247);
    color:white;
    border-radius: 25px;
    width:120px;
    height: 40px;
    justify-self: center;
    font-size: 1.2rem;
    }

    .botones button:hover {
        background-color: rgb(139, 193, 247);
        cursor:pointer;
    }
    .botones {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: min-content;
        align-content: center;
        justify-content: center;
        gap:20px;
    }

    .dashboardone a:link,.dashboardtwo a:link,
    .dashboardone a:visited,.dashboardtwo a:visited {
        color:white;
        text-decoration: none;
        font-size: 1.3rem;
        fill:white;
    }

   .princii {
    color:white;
    text-decoration: none;
    font-size: 2.1rem;
   }

   .princi a {
    text-decoration: none;
    height: 48px;
    width: 230px;
   }

   .princi span {
    vertical-align:top;
    padding-top: 5px;
    display:inline-block;
   }

  
   .princi {
    padding-top:25px;
   }

.dashboardone a:hover,
.dashboardtwo a:hover {
    background-color: rgb(123, 188, 253);
    font-weight: bold;
}

.princi a:hover {
    font-weight: bold;
}

.card h1{
    font-size: 1.3rem;
}

.main h4 {
    font-size: 1.3rem;
}